## Python global built-in functions

### NCERT Class XI chapter to read

[Functions](https://ncert.nic.in/textbook.php?kecs1=7-11) - **section 7.5.1**

![builtin functions](images/builtin.jpg)

![builtin functions](images/builtin2.jpg)

**abs(x)**

Return the absolute value of a number. The argument may be an integer, a floating point number. 
If the argument is a complex number, its magnitude is returned.

In [1]:
abs(-444)

444

In [2]:
abs(34)

34

In [3]:
abs(-44.44)

44.44

In [4]:
abs(3.124)

3.124

In [5]:
abs(2 + 2j)

2.8284271247461903

In [8]:
abs(-1 - 3j)

3.1622776601683795

**min(iterable)**

**min(arg1, arg2, *args[, key])**

Return the smallest item in an iterable or the smallest of two or more arguments.

If one positional argument is provided, it should be an iterable. 
The smallest item in the iterable is returned. If two or more positional arguments are provided, 
the smallest of the positional arguments is returned

In [9]:
min(3, 5, 66, -33)

-33

In [11]:
min([45, 34, 3, 34])

3

In [12]:
T = (344, 23, -5, 66)
min(T)

-5

**max(iterable)**

**max(arg1, arg2, *args[, key])**

Return the greatest item in an iterable or the smallest of two or more arguments.
If one positional argument is provided, it should be an iterable. The greates item in the iterable is returned. 
If two or more positional arguments are provided, the greatest of the positional arguments is returned

In [13]:
max(3, 5, 66, -33)

66

In [14]:
min([45, 34, 3, 34])

3

In [15]:
T = (344, 23, -5, 66)
max(T)

344

**sum(iterable)**

Sums start and the items of an iterable from left to right and returns the total.

In [28]:
sum([ 3, 5, 66, -33 ])

41

In [29]:
T = (344, 23, -5, 66)
sum(T)

428

**chr(i)**

Return the string representing a character whose Unicode code point is the integer i. 
For example, chr(97) returns the string 'a', while chr(8364) returns the string '€'. 
This is the inverse of **ord()** function.

The valid range for the argument is from 0 through 1,114,111 (0x10FFFF in base 16). 
ValueError will be raised if i is outside that range.

In [16]:
chr(64)

'@'

In [17]:
chr(65)

'A'

In [19]:
chr(45656644)

ValueError: chr() arg not in range(0x110000)

**ord(c)**

Given a string representing one Unicode character, return an integer representing the Unicode 
code point of that character. For example, ord('a') returns the integer 97 and ord('€') 
(Euro sign) returns 8364. This is the inverse of **chr()** function.

In [31]:
ord("A")

65

In [32]:
ord("%")

37

In [33]:
ord("hello")

TypeError: ord() expected a character, but string of length 5 found

**sorted(iterable, *, key=None, reverse=False)**

Return a new sorted list from the items in iterable.

Has two optional arguments which must be specified as keyword arguments.

In [34]:
L = [34, 3, -4, 454, 2232]

sorted(L)

[-4, 3, 34, 454, 2232]

In [35]:
sorted(L, reverse=True)

[2232, 454, 34, 3, -4]

**reversed(seq)**

Return a reverse iterator.

In [37]:
list(reversed([4, 56, -4, 55]))

[55, -4, 56, 4]

**id(object)**

Return the “identity” of an object. This is an integer which is guaranteed to be unique and 
constant for this object during its lifetime.

In [38]:
id("hello")

140504893792816

In [39]:
id([34, 55])

140504893645520

In [40]:
id((34, 23))

140503819928992

In [41]:
id({ 'x': 34 })

140503820926720

## conversion functions

**bool**, **str**, **int**, **float** are conversion functions convert an argument to appropriate type.

In [42]:
bool(34)

True

In [43]:
bool(0)

False

In [44]:
int("4455")

4455

In [45]:
float("3.455")

3.455

In [46]:
float(334)

334.0

## constructor functions

**dict**, **set**, **list**, **tuple** are global constructor functions

In [50]:
dict()

{}

In [52]:
set([ 334, 565, 66, 565 ])  # list as set

{66, 334, 565}

In [53]:
tuple([44, 45]) # list as tuple

(44, 45)

In [54]:
list((34, 44)) # convert tuple as list

[34, 44]

**len(s)**

Return the length (the number of items) of an object. The argument may be a sequence 
(such as a string, tuple, list, or range) or a collection (such as a dictionary, set).

In [55]:
len(range(0, 34))

34

In [56]:
len([334, 55, 33, 233])

4

In [57]:
len("hello")

5

In [58]:
len((343, 23, 23))

3

In [59]:
len({ "x": 33, "y": 34})

2

## CBSE Sample Question Paper (2020-21) Computer Science (083)

Name the built-in mathematical function / method that is used to return an absolute value of a number.

Answer:  **abs**

## print function

**print(*objects, sep=' ', end='\n')**

Print objects separated by **sep** and followed by **end**. 
**sep**, **end** must be given as keyword arguments.

Default sep is ' ' and default end is newline

In [7]:
print("hello", 3)

hello 3

In [8]:
print("hello", 3, sep=":")

hello:3

In [9]:
print("hello", 34, sep=",", end="##")

hello,34##

## input function

**input([prompt])**

If the prompt argument is present, it is written to standard output without a trailing newline. 
The function then reads a line from input, converts it to a string (stripping a trailing newline), 
and returns that.

In [12]:
s = input("What is your name? ")

What is your name? Thor