## Python tuples

Python tuples are **immutable ordered sequence of values**. Once created, we cannot add/delete or change element values. But element values are ordered and duplicates are allowed. tuple elements are accessed just like list elements ([] operator with index and [] operator for slicing)

Tuples are comma separated values with optionally parenthesis around. Parens are needed for nested tuples/tuples in lists and so on.

In [1]:
s = (4, 556)
print(s)

# this is also a tuple
s = "hello", "world"
print(s)

(4, 556)
('hello', 'world')

## Accessing tuple elements by [] operator

In [2]:
s[0]

'hello'

In [3]:
s[1]

'world'

In [4]:
s[-1]

'world'

##  Tuple slicing by [:] operator

In [5]:
s[:]

('hello', 'world')

In [31]:
s = tuple(range(0, 10))

# tuple containing even indexed elements
s[::2]

(0, 2, 4, 6, 8)

## Use tuple function to create a tuple

In [7]:
s = tuple([12, 44])

In [8]:
s[0]

12

In [9]:
s

(12, 44)

In [10]:
s = tuple(range(0, 5))

In [11]:
s

(0, 1, 2, 3, 4)

In [12]:
s = tuple("hello")

In [13]:
s

('h', 'e', 'l', 'l', 'o')

## tuple concatenation by + operator

In [17]:
(3,4) + (4, 5,6)

(3, 4, 4, 5, 6)

## tuple repetition by * operator

In [20]:
(34, 55)*2

(34, 55, 34, 55)

In [21]:
3*(4, 5, 6)

(4, 5, 6, 4, 5, 6, 4, 5, 6)

## Python tuples are immutable

In [22]:
s = (3, 45, 4)
s[0] = 33

TypeError: 'tuple' object does not support item assignment

In [23]:
del s[0]

TypeError: 'tuple' object doesn't support item deletion

In [24]:
s.append(4)

AttributeError: 'tuple' object has no attribute 'append'

## CBSE Sample Question Paper (2020-21) Computer Science (083)

Suppose a tuple T is declared as T = (10, 12, 43, 39), which of the following is incorrect? 

a) print(T[1]) 

b) T[2] = -29 

c) print(max(T))

d) print(len(T))

In [2]:
# Answer (b)

# Tuples are immutable

T = (10, 12, 43, 39)

T[2] = -29

TypeError: 'tuple' object does not support item assignment

## number of elements of tuple by len

In [25]:
s = (4, 5, 6)
len(s)

3

## max, min, sum of elements of a tuple

In [26]:
max((3, 54, 66))

66

In [27]:
min((34, 6, -33))

-33

In [28]:
sum((4, 6, 7, 4))

21

## CBSE Sample Question Paper (2020-21) Computer Science (083)

A tuple is declared as

```python
    T = (2,5,6,9,8)
```

What will be the value of sum(T)?

In [3]:
T = (2,5,6,9,8)

print(sum(T))

30

## sorted function on a tuple

In [29]:
# sorted on a tuple returns a sorted list

sorted((5, 77, -55, 5666, 99))

[-55, 5, 77, 99, 5666]

## finding mean of values in a tuple

In [32]:
s = (4, 5, 6, 7, 77)

m = 0
for i in s:
    m = m + i
m = m / len(s)

print(m)

19.8

## linear search of an element in a tuple

In [33]:
# implementing linear search

def linearSearch(tup, key):
    for i in range(0, len(tup)):
        if (tup[i] == key):
            return i;
    return -1

In [34]:
linearSearch((454, 66, 334), 66)

1

In [35]:
linearSearch(("java", "js", "python"), "smalltalk")

-1

## counting frequencies of elements in a tuple

In [36]:
def frequencies(tup):
    result = dict()
    for i in tup:
        if i in result:
            result[i] = result[i] + 1
        else:
            result[i] = 1
    return result

In [38]:
x = (4, 6, 66, 4, 3, 6, 9, 99, 9)

print(frequencies(x))

{4: 2, 6: 2, 66: 1, 3: 1, 9: 2, 99: 1}

## finding min/max element in a tuple

In [46]:
def findMin(tup):
    m = 0
    for i in tup:
        if i <= m:
            m = i
    return m

In [47]:
findMin((44, 565, -45, 56))

-45

In [50]:
def findMax(tup):
    m = 0
    for i in tup:
        if i >= m:
            m = i
    return m

In [51]:
findMax((44, 565, -45, 56))

565